* {
    font-family: Helvetica, Arial, sans serif;
    margin: auto;
    text-align: center;
}

h1 {
    color: seagreen;

}

h2 {

}

p {
    
}

a {
    text-decoration: none;
}

img {
    diplay: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
